.App {
  text-align: center;
}

#root, .modal-dialog {
  margin: 0;

  font-family: 'Overpass', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.q-icon{
  position: absolute;
}
.q-icon.up {
  top: -10px;
}
.q-icon.down{
  left: calc(80px + 10px);
  bottom: -10px;
}
.q-s{
  margin-left: 2em;
}