/* *{
    border: 2px solid red;
} */
.cs {cursor: pointer;}
.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    filter: opacity(60%);
    display: grid;
    place-content: center;
    z-index: 9999999;
}
.grid{
    display: grid;
    place-content: center;
}

.form-label {
    width: 25% !important;
    align-self: center;
    margin-bottom: 0 !important;
    color: #495057;
}
.form-input {
    width: 70% !important;
    color: #495057;
}
.modal-body {
    max-width: 900px;
    margin: 0 auto;
    width: 800px
}

.action{
    cursor: pointer;
}
.action:hover{
    filter: brightness(200%);
}
.add-user-form{
    padding: 10px;
}

/* small phone screen */
@media screen and (min-width: 200px) and (max-width: 768px) {

    .modal-body,
    .product_modal_body {
        width: 100% !important;
    }

    .form-label,
    .data-label {
        width: 100% !important;
        align-self: center;
        margin-bottom: 5px !important;
        padding-left: 0 !important;
    }


    .form-input,
    .data-input {
        width: 100% !important;
    }
}