.cat-dp, .avatar{
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: 150px;
    padding: auto;
    margin: 0 auto;
    /* border: .5px solid #6c757d; */
    /* border-radius: 50%; */
}
.avatar>i{
    font-size: 5em;
    margin: auto;
    color: #6c757d;
}
a{
    text-decoration: none;
}
a:hover{
    filter: opacity(70%) !important;
}
.secondary{
    background-color: rgb(226, 230, 234)
}
.main-image{
    width: 92%;
    max-height: 300px;
}
.main-image-product {
    width: 80%;
    aspect-ratio: 1;
}
.small-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.carousel-img{
    display: block;
    width: 95%;
    height: 70vh;
    margin: 0 auto;
}
.content{
    min-height: calc(100vh - 110px);
    padding-bottom: 10px;
}
.form-label{
    width: 25%;
    text-align: start;
}
.form-input {
    width: 75%;
}
.category-listing, .product-in-listing{
    box-sizing: border-box;
    word-break: break-all;
    box-sizing: border-box;
    transition: box-shadow 250ms;
    transition: border-radius 500ms;
}
.category-listing:where(:hover, :focus),
.product-in-listing:where(:hover, :focus){
    box-shadow: 3px 2px 3px 3px #d8dadc;
    border-radius: 5px;
    animation-name: converge;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-fill-mode:both;
}
@keyframes converge {
    from{
        opacity: .1
    }
    to{
        opacity: 1
    }
}